// Variables
$website-width: 1280px;
$main-font: "Dosis", sans-serif;
$main-color: #28a2b7;
$darker-blue: #0d192c;
$dark-blue: #15263f;
$medium-blue: #2e405a;
$soft-blue: #8bacd9;
$white: #ffffff;
$linear-gradient: to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%,
  #4c7788 71%, #6c4f63 86%, #432c39 100%;

// background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
