.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.main-btn {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid $main-color;
  padding-bottom: 0.5rem;
}

.secondary-btn {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: $main-color;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:hover {
    background: transparent;
    border: 1px solid $main-color;
  }
}

.secondary-btn-line {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  transition: all 0.3s;
  border: 1px solid $main-color;

  &:hover {
    background: $main-color;
    border: 1px solid transparent;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  justify-items: center;

  &-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  .header-title {
    font-size: 2rem;
  }

  .bottom-line {
    height: 2px;
    background-color: $main-color;
    width: 10%;
  }
}

.image {
  &-container {
    display: grid;
    grid-template-columns: 2rem repeat(2, 1fr) 2rem repeat(2, 1fr) 2rem;
  }

  &-box {
    max-height: 20rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &:hover img {
      transform: scale(1.1);
    }

    img {
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
    }
  }
}

.img-left {
  grid-column: 1 / 4;
  grid-row: 1 / span 8;
}
.img-center {
  grid-column: 3 / 6;
  grid-row: 7 / span 8;
  z-index: 5;
}
.img-right {
  grid-column: 4 / -1;
  grid-row: 1 / span 8;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@mixin key_frame($name: "glowing_animation", $duration: 20s, $count: infinite) {
  @keyframes glowing_animation {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
}
