.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.main-btn {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid $main-color;
  padding-bottom: 0.5rem;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@mixin key_frame($name: "glowing_animation", $duration: 20s, $count: infinite) {
  @keyframes glowing_animation {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
}
