@import "config";
@import "utilities";

// Reset Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   /* 10px */
//   font-size: 62.5%;
// }

body {
  background-color: #000000;
  // background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  line-height: 1.5;
  color: $white;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: $white;
}

ul {
  list-style: none;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: normal;
}

img {
  max-width: 100%;
  display: block;
}

// Navigation
#nav {
  // background: red;
  height: 5rem;
  padding-top: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 2rem;
    }

    ul {
      display: flex;

      li {
        margin: 0 1rem;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease-in;

        &:hover {
          border-bottom-color: $main-color;
        }

        a {
          font-size: 1.3rem;
        }
      }
    }
  }
}

// Header
#header {
  // Header Content
  &-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    .profile-img-container {
      height: 25rem;
      width: 25rem;
      // background: red;
      border-radius: 50%;
      position: relative;
      margin-bottom: 2rem;

      img {
        border-radius: 50%;
      }
    }

    .glow {
      border-radius: 50%;

      &::after {
        filter: blur(25px);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: -4px;
        top: -4px;
        border-radius: 50%;
        background: linear-gradient(
          45deg,
          #e6fb04,
          #ff6600,
          #00ff66,
          #00ffff,
          #ff00ff,
          #ff0099,
          #6e0ff0,
          #ff3300,
          #099fff
        );
        background-size: 400%;
        width: calc(100% + 7px);
        height: calc(100% + 7px);
        z-index: -1;
        @include key_frame(glowing_animation);
      }
    }
    // Header Text
    .header-text-container {
      margin-left: 3rem;
      max-width: 50%;

      h1 {
        font-size: 2rem;
        position: relative;
        padding-top: 30px;

        &::after {
          content: "DEVELOPER";
          position: absolute;
          top: -20px;
          left: -20px;
          font-size: 5rem;
          z-index: -1;
          color: #333;
          opacity: 0.2;
          font-weight: bold;
        }

        span {
          font-size: 3rem;
          color: $main-color;
        }
      }

      .header-lead {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        letter-spacing: 1px;
        opacity: 0.5;
      }
    }
  }
}

// About
#about {
  margin-bottom: 2rem;
  // Main Bio
  .text-container {
    h2 {
      font-size: 2rem;
      // color: $main-color;
      position: relative;
      padding-top: 2rem;

      &::after {
        content: "PERSONAL";
        position: absolute;
        top: -20px;
        left: -20px;
        font-size: 5rem;
        z-index: -1;
        color: #333;
        opacity: 0.2;
        font-weight: bold;
      }
    }
    p {
      font-size: 1.4rem;
      letter-spacing: 1px;
      max-width: 90%;
      margin-bottom: 1rem;

      span {
        color: $main-color;
      }
    }
  }
  // Tech Bio Images
  .image-container {
    margin-bottom: 5rem;
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    .image-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fab,
    .fas {
      font-size: 5rem;
    }

    .icon-1 {
      grid-column: 1/2;
      grid-row: 2/3;
      color: #e34c26;
    }
    .icon-2 {
      grid-column: 2/3;
      grid-row: 3/4;
      color: #264de4;
    }
    .icon-3 {
      grid-column: 2/3;
      grid-row: 1/2;
      color: #f0db4f;
    }
    .icon-4 {
      grid-column: 3/4;
      grid-row: 1/2;
      color: #cc6699;
    }
    .icon-5 {
      grid-column: 4/5;
      grid-row: 1/2;
      color: #424242;
    }
    .icon-6 {
      grid-column: 5/6;
      grid-row: 2/3;
      color: #7c24eb;
    }
    .icon-7 {
      grid-column: 4/5;
      grid-row: 3/4;
      color: #2e742b;
    }
  }
  // Tech bio
  .tech-container {
    h2 {
      font-size: 2rem;
      // color: $main-color;
      position: relative;
      padding-top: 2rem;

      &::after {
        content: "DEVELOPMENT";
        position: absolute;
        top: -20px;
        left: -20px;
        font-size: 5rem;
        z-index: -1;
        color: #333;
        opacity: 0.2;
        font-weight: bold;
      }
    }
    p {
      font-size: 1.4rem;
      letter-spacing: 1px;
      max-width: 90%;
      margin-bottom: 1rem;

      span {
        color: $main-color;
      }
    }
  }
}

// Projects
#projects {
  margin: 2rem 0;
  .project {
    margin-bottom: 2rem;
    justify-content: space-between;
    .project-bio {
      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.1rem;
        letter-spacing: 1px;
        max-width: 90%;
        margin-bottom: 1rem;
      }
    }

    .project-image {
      img {
        max-height: 25rem;
      }
    }
  }
}
