@import "config";
@import "utilities";

// Reset Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darker-blue;
  line-height: 1.5;
  color: $soft-blue;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: $soft-blue;
}

ul {
  list-style: none;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-weight: normal;
}

img {
  width: 100%;
}

// Navigation
#nav {
  // background: red;
  height: 5rem;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 2rem;
    }

    ul {
      display: flex;

      li {
        margin: 0 1rem;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease-in;

        &:hover {
          border-bottom-color: #28a2b7;
        }

        a {
          font-size: 1.3rem;
        }
      }
    }
  }
}

// Header
#header {
  // Header Content
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .profile-img-container {
      height: 25rem;
      width: 25rem;
      background: red;
      border-radius: 50%;
      position: relative;

      img {
        border-radius: 50%;
      }
    }

    .glow {
      border-radius: 50%;

      &::after {
        filter: blur(25px);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: -4px;
        top: -4px;
        border-radius: 50%;
        background: linear-gradient(
          45deg,
          #e6fb04,
          #ff6600,
          #00ff66,
          #00ffff,
          #ff00ff,
          #ff0099,
          #6e0ff0,
          #ff3300,
          #099fff
        );
        background-size: 400%;
        width: calc(100% + 7px);
        height: calc(100% + 7px);
        z-index: -1;
        @include key_frame(glowing_animation);
      }
    }
  }
}
